/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
  background-color: #f3f3f3;
}

.navbar-default {
  background-color: #e4e4e4;
  border-color:  #a8cdff;
  border-width: 2px;
}
.navbar-default .navbar-brand {
  color: #a8cdff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #a8cdff;
}
.navbar-default .navbar-text {
  color: #9c9c9c;
}
.navbar-default .navbar-nav > li > a {
  color: #9c9c9c;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #e4e4e4;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #9c9c9c;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color:  #a8cdff
;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color:  #a8cdff
;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color:  #a8cdff
;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color:  #a8cdff
;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #a8cdff;
  background-color: #a8cdff
;
}
.navbar-default .navbar-toggle {
  border-color:  #a8cdff
;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color:  #a8cdff
;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #9c9c9c;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #9c9c9c;
}
.navbar-default .navbar-link {
  color: #9c9c9c;
}
.navbar-default .navbar-link:hover {
  color: #a8cdff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #9c9c9c;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #a8cdff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #a8cdff;
    background-color:  #7b7b7b
;
  }
   .carousel_titel{
    font-size: 25px !important;
  }
}

 .carousel_titel{
    font-size: 40px;
  }


.carousel {
  margin-bottom: 60px;

}


.carousel-caption {
  z-index: 10;
}

.carousel .item {
  background-color: #777;
}
.carousel-inner > .item > img {
  top: 0;
  left: 0;
  min-width: 100%;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.featurette-image{
  width: 75%;
}

#Flickr_G{
  padding-top: 75px;
}

.terug{
    color: blue;
    text-decoration: underline;
    margin-left: 0%;
    cursor: pointer;
    display: none;
    padding: 0px;
    width: 0px;
}

.album{
    cursor: pointer;
    padding-top: 0px;
}